<ng-container *ngIf="inputsForms.length > 0">
  <div class="container-fluid px-5 mt-3 mb-5">
    <div class="row">
      <div class="col-12">
        <h2>Form</h2>
      </div>
      <div class="col-12 col-md-9">
        <!-- Form section -->
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3" *ngFor="let form of inputsForms.controls">
            <app-generator-form-input [form]="form"></app-generator-form-input>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <!-- Templates section -->
      </div>
    </div>
  </div>

  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="navbar-nav flex-row ml-md-auto d-md-flex">
      <button (click)="onGenerateClick()" class="btn btn-primary" type="submit">
        Generate!
      </button>
    </div>
  </nav>
</ng-container>