<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <span class="navbar-brand">
    <img width="50px" src="assets/logo.svg" alt="Angular reactive forms generator" />

    <span class="navbar-brand ml-3">Reactive forms generator</span>
  </span>

  <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
    <li>
      <a href="https://github.com/gustavguez/ng-reactive-forms-generator" rel="nofollow noopener noreferrer"
        target="_blank" class="link d-flex flex-column align-items-center" title="Reactive forms generator">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</nav>