<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="col-12">
        <div class="section">
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Welcome to Reactive Forms Generator!</h4>
            <p>
              The Reactive Forms Generator will speed up form creation to a few
              seconds! You just have to configure a couple of details and you
              will have the HTML and TypeScript to copy to your project.
            </p>
            <hr />
            <p>
              You can start by entering multiple input names in the upper text
              box and hitting Enter!
            </p>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>